body{
  /* text-align: center */
}
td{
  vertical-align: baseline;
}

label{
  margin: 10px;
}

table{
  text-align: center;
  width:25%;
  border-collapse: collapse;
  /* border:1px solid #ddd; */
}
hr{
  margin-bottom: 0;
}
th, td{
  height: 20px;
  /* width: 100%; */
  vertical-align: middle;
  border: 1px solid #ddd;
}
.inner-total-score{
  position: absolute;
  right:0;
  height: 100px;
  width: 100px;
  background-color: grey;
}
.total-score{

  position:sticky;
  display:inline-block;
  top:0px;
  left:100%;

  background-color: yellow;
  height:300px;
  width:300px;
}
.section-a, .section-b, .section-c, .section-d{
  position:relative;
  bottom: 300px;


}
/* .container{
  position:relative;
  bottom:300px;


} */

.mix-form{
  margin-bottom: 10px;

}
.marriage{
  margin-bottom: 2em;
}
